---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: agentic-operator
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ethical.institute
  resources:
  - agents
  - mcpservers
  - modelapis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ethical.institute
  resources:
  - agents/finalizers
  - mcpservers/finalizers
  - modelapis/finalizers
  verbs:
  - update
- apiGroups:
  - ethical.institute
  resources:
  - agents/status
  - mcpservers/status
  - modelapis/status
  verbs:
  - get
  - patch
  - update
